div.main{
	min-height:300px;
	word-wrap: break-word; word-break: normal;
	word-break:break-all;
}

.panel-primary .panel-heading a{
	color:#ffffff;
}

div.add_btn_area{
	padding-bottom: 20px;
}

table th{
	background-color:#000000;
	color:#ffffff;
}